@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body a {
  color: #000;
  text-decoration: none;
}

body h1 {
  font-size: 36px;
}

body h2 {
  font-size: 30px;
}

.container {
  padding: 3rem 1rem;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  margin: 0;
}

/* BUTTON OR LINK */

body button,
body a {
  transition: all 0.2s ease-out;
  border: unset;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0 0.5rem;
  cursor: pointer;
}

button.primary,
a.primary {
  color: #fff;
  /* outline: none; */
  background-color: #7bbf99;
}

button.primary,
a.primary,
button.secondary,
a.secondary {
  padding: 1rem 2rem;
}

button.primary:hover,
a.primary:hover {
  opacity: 0.8;
}

button.secondary,
a.secondary {
  background-color: #fff;
}

button.secondary:hover,
a.secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button.circle {
  height: 2.6rem;
  width: 2.6rem;
  margin: 0 0.2rem;
  border-radius: 2.6rem;
  cursor: pointer;
}

button.circle svg {
  padding-top: 0.2rem;
}

button.circle.phone {
  margin-left: 1.2rem;
  background-color: #7bbf99;
  color: #fff;
}

button.circle.phone:hover {
  opacity: 0.8;
}

button.circle.pure {
  background-color: #fff;
  margin-left: auto;
}

button.circle.pure:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* HEADER */

.header.add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 1rem 0 1.5rem;
}

.header.add-button button {
  display: flex;
  align-items: center;
}

.header.add-button button span {
  margin-left: 0.5rem;
}

/* FORM */

form .center {
  text-align: center;
  padding-top: 1rem;
}
