.animal .container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2rem;
}

.animal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-image: url("../images/backgrounds/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 440px;
}

.animal-info span,
.animal-info h1 {
  padding-top: 1rem;
}

.animal-info .actions {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.animal-info .actions button:last-of-type {
  margin-left: 1rem;
}

.animal .header.action-button {
  padding-top: 3rem;
}
