.clients {
  display: flex;
  flex-direction: column;
}

.client {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.client:first-of-type {
  border-top: unset;
}

.client .name {
  font-size: 24px;
  font-weight: 600;
}

.client .actions {
  margin-top: 2rem;
  display: flex;
  flex-grow: 1;
}

.client button {
  background-color: #fff;
  border: unset;
  width: fit-content;
  height: 2.6rem;
  width: 2.6rem;
  margin: 0 0.2rem;
  border-radius: 2.6rem;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

.client button:hover {
  opacity: 0.8;
}

.client button.phone {
  margin-left: 1.2rem;
  background-color: #7bbf99;
  color: #fff;
}

.client button.edit {
  margin-left: auto;
}

.client button.edit:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
