.client .container {
  max-width: 800px;
  margin: 0 auto;
}

.client-info {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  column-gap: 1rem;
  padding: 0 0.5rem 3rem 0.5rem;
}

@media (max-width: 600px) {
  .client-info {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.client-info-name,
.client-info-detail {
  display: flex;
  flex-direction: column;
}

.client-info-detail {
  justify-content: space-around;
}

.client-info-name span:first-of-type {
  margin-bottom: 0.5rem;
}
.client-info-name span {
  font-size: 36px;
  font-weight: bold;
}

.client-info-detail-item {
  display: flex;
  align-items: center;
}

.client-info-detail-item svg {
  margin-right: 1.5rem;
}

.client-info-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
