.home {
  max-width: 1000px;
  margin: 0 auto;
}

.home .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 1rem 0 1.5rem;
}

.home .add-client {
  display: flex;
  align-items: center;
}

.home .add-client span {
  margin-left: 0.5rem;
}
