.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.form-control label {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea,
.form-control select {
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  transition: box-shadow 0.2s ease-out;
}

.form-control textarea {
  resize: none;
}

.form-control select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.form-control .select {
  position: relative;
}

.form-control .select select {
  width: 100%;
}

.form-control .select svg {
  position: absolute;
  top: 26px;
  right: 1.2rem;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.form-error {
  color: #db2828;
  font-size: 12px;
}

.form-control.error input,
.form-control.error textarea,
.form-control.error select {
  border-color: #db2828;
}

.form-control.error input:focus,
.form-control.error textarea:focus,
.form-control.error select:focus {
  box-shadow: 0 0 0 1px #db2828;
}

/* NUMBER */
.form-control input::-webkit-outer-spin-button,
.form-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control input[type="number"] {
  -moz-appearance: textfield;
}

/* NOTE */

.form-control .note svg {
  color: #ffd700;
  transition: 1s ease-out;
}

.form-control .note svg:not(:first-child) {
  margin-left: 0.5rem;
}

.form-control input[type="number"] {
  background: unset;
}

/* SWITCH */
.form-control .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: unset;
}

.form-control .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-control .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.form-control .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7bbf99;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7bbf99;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
